.cover__title {
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin-top: 245px;
    margin-bottom: 0;
    align-items: center;
    max-width: 560px;
    position: relative;
    
  }

  
  @media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover__title {
      margin-top: 195px;
      margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
      margin-top: 115px;
      margin-bottom: 0px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
      margin: 33px auto 16px;
      max-width: 288px;
    }
  }